<% provide(:title, "Home") %>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>

    <div class="container home-grid">
      <div class="row">
        <div class="col-sm-8">
          <nav>
            <ul class="nav navbar-nav my-auto home-nav">
              <li><%= link_to "Recent Post", "#" %></li>
              <li><%= link_to "Selected Post", "#"%></li> 
              <% if logged_in? %>
                <li><%= link_to "My Settings",   edit_user_url(current_user.id) %></li>
              <% end %>
              <li><input type="text" class="form-control search" placeholder="search..." name="topicSearch"> </li>  
              <li><%= link_to "New Post", new_post_path, class: "new_post" %></li>
            </ul>
          </nav>
          
        </div>


<div id="allposts">
      <% @posts.each do |apost| %>
        <div class="card">
          <div class="card-body">
              <div class="text-left">
                <div class = "row" id = "postarea">
                  <div class = "col-sm-2">
                  <% if DateTime.now - 30.days <= apost.created_at %>
                    <% if apost.user.avatar_url.present? %>
                      <%= image_tag(apost.user.avatar_url, :class => "avatar3") if apost.user.avatar_url.present? %>
                    <% else %>
                      <%= image_tag "default.png", :class => "avatar3", :width => "50" , :height => "50" %><br>
                    <% end %>
                    
                  </div>
                  
                  <% if logged_in? %>
                    <p><%= link_to apost.title, post_url(apost.id), class:"title" %></p>
                  <% else %>
                    <p><%= link_to apost.title, post_url(apost.id), class:"title-visitors" %></p>
                  <% end %>
                  
                  <p class="text-muted">
                    <%= link_to apost.user.name, user_url(apost.user.id), class:"text-muted" %>
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    <%= apost.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    <%= apost.topic[0].name %>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <span class="glyphicon glyphicon-comment"></span>
                    <%= Post.where("post_id is NOT NULL AND superpid = ?", apost.superpid).count %>
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <%= apost.view %>
                  </p>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>



        <div class="col-sm-4">
          <div class="postList">
            <h3>Recent Members</h3>
            <div class = "container side-container">
              <div class="row">
                <% User.all.first(12).each do |auser| %>
            <div class="col-sm-3 text-center">
              <% if auser.avatar_url.present? %>
                <%= image_tag(auser.avatar_url, :class => "avatar3") if auser.avatar_url.present? %><br>
              <% else %>
                <%= image_tag "default.png", :class => "avatar3", :width => "50" , :height => "50" %><br>
              <% end %>
              <%= link_to auser.name, user_url(auser.id), class:"text-muted" %>
              <span>(<%= auser.logincount %>)</span>
            </div>
          <% end %>
              </div>
            </div>
          </div>
          <div class="postList">
            <h3>Topics</h3>
              <% @topics.each do |topic| %>
                <div class="col-sm-3 text-center">            
                <label class="badge" for="<%= topic.id %>"><%= topic.name %></label>
                <%= check_box_tag topic.id, topic.id %>
                </div>
              <% end %>
          </div>
          


          <div class="postList">
            <h3>Posts</h3>
            <div class = "container side-container">
              <% @list.order("view ASC").first(6).each do |postSort| %>
              
            <div class="row text-muted" style="margin-left: 20px; margin-right: 10px; margin-bottom: 10px;">
              <div class="col-sm-10 textHidden">
                <span><%= link_to postSort.title, post_url(postSort.id), class:"text-muted" %></span>
              </div>
              <div class="col-sm-2 text-right">
                <span class="glyphicon glyphicon-eye-open"></span>
                <%= postSort.view %>
              </div>
            </div>
                
              
          <% end %>
          </div>
          </div>
          <%= render 'layouts/side_links' %>
        </div>


    

  </body>
</html>