<% provide(:title, "Home") %>
<html>

<head>
  <title><%= yield(:title) %></title>
</head>

  <body>
    <div class="home-grid-container">
      
      <div class="posts">
        <% @posts.each do |post| %>
          <%= render :partial => 'static_pages/partials/post_item', :locals => {:post => post} %>
        <% end %>
      </div>
      <div class="navbar">
        <%= render 'layouts/error_message' %>
        <%= render :partial => 'static_pages/partials/navbar'%>
      </div>
      <div class="recent-members">
        <h2>Recent Members</h2>
        <div id="rec-mem-container">
          <!-- Checks to see if user has a profile iamge -->
          <% User.all.first(12).each do |user| %>
            <%= render :partial => 'static_pages/partials/recent_members', :locals => {:user => user} %>
          <% end %>
        </div>
      </div>
      <div class="topics">
        <h2>Topics</h2>
        <% @topics.each do |topic| %>
          <%= render :partial => 'static_pages/partials/topics', :locals => {:topic => topic} %>
        <% end %>
      </div>
      <div class="top-posts">
        <%= render :partial => 'static_pages/partials/top_posts'%>
      </div>
      <div class="links">
        <%= render :partial => 'static_pages/partials/links'%>
      </div>
    </div>
          <%= form_tag(selected_topics_url, method: "get", id:"topics_list") do %>
            <%= hidden_field_tag :topics %>
            <%= submit_tag("submit",:class => "submithidden") %>
          <% end %>
        
          <%= form_tag(root_url, method: "get", id:"search") do %>
              <%= hidden_field_tag :keywords %>
              <%= submit_tag("submit",:class => "submithidden") %>
          <% end %>
  </body>
</html>
<script>

$("#selected").click(function(){
    var lists = new Array;
    $.each($('input:checkbox:checked'),function(){
      lists.push($(this).val());
    });
    document.getElementById("topics").value = lists;
    console.log(document.getElementById("topics").value);
    $("#topics_list").submit();
  });
  
  
    $("#key_word_search").bind('input propertychange',function(){
      var keywords = $(this).val();
      document.getElementById("keywords").value = keywords;
      $("#search").submit();
	  });
  
</script>
