<h2>Links</h2>
<div class="row">
  <div class="col-3 side-container">
    <%= link_to "Outlook", "https://outlook.live.com/", class:"home-link btn btn-sm" %>
    <%= link_to "RMIT", "https://www.rmit.edu.au/", class:"home-link btn btn-sm" %>
    <%= link_to "Stack", "https://stackoverflow.com/", class:"home-link btn btn-sm" %>
    <%= link_to "RoR", "https://rubyonrails.org/", class:"home-link btn btn-sm" %>
    <%= link_to "MS Docs", "https://docs.microsoft.com/", class:"home-link btn btn-sm" %>
  </div>
</div>