<nav class="post-nav">
    <div>
      <%= link_to "Recent", root_path, class: "post-buttons" %>
      <%= link_to "Selected", "#", id: "selected", class: "post-buttons"  %>
      <% if logged_in? %>
      <%= link_to "Settings", edit_user_url(current_user.id), class: "post-buttons"  %>
      <% end %>
    </div>
    <input type="text" class="form-control search" placeholder="search..." id="key_word_search"
          value="<%= @pervious_input %>" />
    <%= link_to "POST!", new_post_path, class: "post-buttons"  %>
  </nav>