<ul id="horizontal-bar">
  <li><%= link_to "Recent", root_path, class: "post-buttons" %></li>
  <li><%= link_to "Selected", "#", id: "selected", class: "post-buttons"  %></li>
  <li>
    <% if logged_in? %>
      <%= link_to "Settings", edit_user_url(current_user.id), class: "post-buttons"  %>
    <% end %>
  </li>
  <li>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control search" type="search" id="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </li>
  <li class="post-button">
    <%= link_to "POST!", new_post_path  %>
  </li>
</ul>

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 post-nav-li">
      <li class="nav-item active align-middle">
        <%= link_to "Recent", root_path, class: "post-buttons" %>
      </li>
      <li class="nav-item align-middle">
        <%= link_to "Selected", "#", id: "selected", class: "post-buttons"  %>
      </li>
      <li class="nav-item">
        <% if logged_in? %>
          <%= link_to "Settings", edit_user_url(current_user.id), class: "post-buttons"  %>
        <% end %>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </li>
      <li>
        <%= link_to "POST!", new_post_path, class: "post-buttons"  %>
      </li>
    </ul>

  </div>
</nav> -->
<!-- 
<nav class="post-nav">
    <div>
      
      

    </div>
    <input type="text" class="form-control search" placeholder="search..." id="key_word_search"
          value="<%= @pervious_input %>" />
    
  </nav> -->