<br><br><br>
<div class="container text-center">
  <% if @user.image.present? %>
    <%= image_tag(@user.image.to_s, :class => "avatar2") %><br>
  <% else %>
    <%= image_tag "default.png", :class => "avatar2" %><br>
  <% end %>
  <h3><%= @user.name %></h3>
  <h2 class="text-muted">
    <span class="glyphicon glyphicon-time"></span><%= @user.created_at.to_date %>
    
    <span class="glyphicon glyphicon-map-marker"></span><%= @user.city %>
  </h2>
</div>
<br><br>



<div class="row">

  <!--Post Area-->
  <div class="col-sm-6">
    
    
    <div class="card">
      <div class="card-body">
        <h4>Recent Posts: </h4><br><br>
        
          <% @posts.each do |mypost| %>
            
              <div class="row">
                <div class="col-sm-10">
                  <%= link_to mypost.title, post_url(mypost.id), class:"text-muted" %>
                  
                </div>
                
                <div class="col-sm-2">
                  <%= mypost.created_at.to_date %>
                </div>
              </div>
              <br>
          <% end %>
        
      </div>
    </div>
    
    
  </div>
  
  
  
  <div class="col-sm-6">
    
    <div class="card">
      <div class="card-body">
        <h4>Recent Comments: </h4>
        
          <% @comments.each do |mycomment| %>
            
              <div class="row">
                <div class="col-sm-12">
                  <%= mycomment.created_at.to_date %> in
                  <%= link_to Post.find_by(id: mycomment.post_id).title, post_url(mycomment.post_id) %>
                   comment:
                   <p class = "showPost text-muted">
                     <%= mycomment.content.to_s %>
                   </p>
                </div>
              </div>
              <br>
          <% end %>
        
        
      </div>
    </div>
    
    
    
  </div>
  
  
</div>

<br><br><br><br>