<div class="postList">
    <h3 style="margin-left: 20px;">Links:</h3><br>
    <div class = "row">
        <div class="col-sm-2 text-center">
           <%= link_to "Outlook", "https://outlook.live.com/", class:"badge btn btn-sm" %>
        </div>
        
        <div class="col-sm-2 text-center">
           <%= link_to "RMIT", "https://www.rmit.edu.au/", class:"badge btn btn-sm" %>
        </div>
        
        <div class="col-sm-2 text-center">
           <%= link_to "Stack Overflow", "https://stackoverflow.com/", class:"badge btn btn-sm" %>
        </div>
        
        <div class="col-sm-2 text-center">
           <%= link_to "RoR", "https://rubyonrails.org/", class:"badge btn btn-sm" %>
        </div>
        
        <div class="col-sm-2 text-center">
           <%= link_to "Microsoft Docs", "https://docs.microsoft.com/", class:"badge btn btn-sm" %>
        </div>
      
   </div>