<div class="postList">
    <h3>Links</h3><br>
    <div class = "row">
        <div class="col-6 side-container">
            <%= link_to "Outlook", "https://outlook.live.com/", class:"badge btn btn-sm" %>
            <%= link_to "RMIT", "https://www.rmit.edu.au/", class:"badge btn btn-sm" %>
            <%= link_to "Stack", "https://stackoverflow.com/", class:"badge btn btn-sm" %>
            <%= link_to "RoR", "https://rubyonrails.org/", class:"badge btn btn-sm" %>
            <%= link_to "MS Docs", "https://docs.microsoft.com/", class:"badge btn btn-sm" %>
        </div>
   </div>